/* 여기는 tab css */

*:focus {
	outline: 1px dotted black;
}

body {
	font-family: 'Jua', sans-serif;
	/*background-image: url('img/img_back_1.jpg');*/
	background-repeat: repeat;
	color: #35465d;
	height: 100%;
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
	background-color: #f0f2f5 !important;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


.tabs > ul {
	font-family: 'Jua', sans-serif;
	position: relative;
	margin-top: 1rem !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
	list-style: none;
	font-size: 0;
	font-weight: normal;
	padding: 0;
	margin-bottom: 0 !important;
}
/*
.tabs > ul .indicator {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 20%;
	background: #1e88e5;
	-webkit-transform: translateZ(0) translateX(0);
	transform: translateZ(0) translateX(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
*/
.tabs > ul li {
	display: inline-block;
	font-size: 1.5rem;
	width: 18%;
	margin: 1%;
	box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
	border-radius: 3rem;
	background-color: white;
	opacity: 99%;
}

.tabs > ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	/* padding: 10px; */
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	text-decoration: none;
	text-align: center;
	/* font-weight: bold; */
	/* color: black; */
	-webkit-transition: all 0.3s ease 0.4s;
	transition: all 0.3s ease 0.4s;
}

a[href$='section1'] {
	/* background: #faffd1; */
	/*background-image: url('img/img_back_1.jpg');*/
	background-repeat: repeat;
	color: black;
}
a[href$='section2'] {
	/*background-image: url('img/img_back_6.jfif');*/
	background-repeat: repeat;
	color: black;
}
a[href$='section3'] {
	/*background-image: url('img/img_back_1.jpg');*/
	background-repeat: repeat;
	color: black;
}
a[href$='section4'] {
	/*background-image: url('img/img_back_6.jfif');*/
	background-repeat: repeat;
	color: black;
}
a[href$='section5'] {
	/*background-image: url('img/img_back_1.jpg');*/
	background-repeat: repeat;
	color: black;
}

.tabs > ul li a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: gray;
	border-radius: 3rem;
	-webkit-transform: translateZ(0) translateY(100%);
	transform: translateZ(0) translateY(101%);
	-webkit-transition: all 0.3s ease 0.3s;
	transition: all 0.3s ease 0.3s;
	z-index: -1;
}

.tabs > ul li a[aria-selected] {
	transition: all 1s ease;
	color: white;
}

.tabs > ul li a[aria-selected]:before {
	-webkit-transform: translateZ(0) translateY(0);
	transform: translateZ(0) translateY(0);
}

/* .tabs > section[aria-hidden='true'] { */
.tabs > section[aria-hidden='true'] {
	display: none;
}
/* 여기는 tab css 마지막 */

.footer {
	background-color: initial;
	font-family: 'Jua', sans-serif;
	color: initial;
	font-size: 20;
	text-align: center;

}

.ad-banner {
	width: 100%;
	padding: 1% 6%;
	margin: 0 auto;
}

.topnav{
	/*box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;*/
	/*border-radius: 3rem;*/
	backdrop-filter: saturate(200%) blur(30px);
    background-color: white;
	/*padding-right: 0!important;*/
    /*padding-left: 0!important;*/
	/*margin-top: 3rem!important;*/
	/*margin-right: 3rem!important;*/
    /*margin-left: 3rem!important;*/
	/*margin-bottom: 1rem !important;*/
	/*top: 1%!important;*/
	/*position: sticky!important;*/
	/*display: flex;*/
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: space-between;
	box-sizing: border-box;

	width: 100%;
	height: 7rem;

	--bs-navbar-padding-x: 1rem;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: #344767;
    --bs-navbar-hover-color: rgba(52,71,103,.7);
    --bs-navbar-disabled-color: rgba(52,71,103,.3);
    --bs-navbar-active-color: rgba(52,71,103,.9);
    --bs-navbar-brand-padding-y: 0.40625rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.125rem;
    --bs-navbar-brand-color: rgba(52,71,103,.9);
    --bs-navbar-brand-hover-color: rgba(52,71,103,.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.125rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23344767' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
    --bs-navbar-toggler-border-color: rgba(52,71,103,.1);
    --bs-navbar-toggler-border-radius: 0.5rem;
    --bs-navbar-toggler-focus-width: 0.2rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
	padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.tcontainer{
	display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
	padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
	padding-right: 1rem!important;
    padding-left: 1rem!important;
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
    margin-right: auto;
    margin-left: auto;
	-webkit-font-smoothing: antialiased;
}

.tnh3{
	margin: 0;
	text-align: center;
	vertical-align: middle;
	margin-top: 5px;
	font-family: 'Jua', sans-serif;
	font-size: 3rem;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 2rem;
	font-family: 'Jua', sans-serif;
}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background: white;
    z-index: 10;
}